# Git
.git
.gitignore
.gitattributes

# Terraform
.terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Documentation
*.md
docs/
LICENSE

# IDE
.idea
*.iml
.vscode

# OS
.DS_Store

# Build artifacts
upstream/
lambda/*.zip

# GitHub
.github/
